@charset "UTF-8";
@import "fonts.css";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
		Убираем внутренние отступы слева тегам списков,
		у которых есть атрибут class
	 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
		Убираем внешние отступы body и двум другим тегам,
		у которых есть атрибут class
	 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
		Убираем внешние отступы вертикали нужным тегам,
		у которых есть атрибут class
	 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
		Убираем стандартный маркер маркированному списку,
		у которого есть атрибут class
	 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
		Обнуляем вертикальные внешние отступы параграфа,
		объявляем локальную переменную для внешнего отступа вниз,
		чтобы избежать взаимодействие с более сложным селектором
	 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
		Внешний отступ вниз для параграфа без атрибута class,
		который расположен не последним среди своих соседних элементов
	 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
		Упрощаем работу с изображениями и видео
	 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
		Наследуем свойства шрифт для полей ввода
	 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
  	Пригодится в большинстве ситуаций
  	(когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
  	Убираем скачок интерфейса по горизонтали
  	при появлении / исчезновении скроллбара
   */
}

/**
		Плавный скролл
	 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
  	Пригодится в большинстве ситуаций
  	(когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
  	Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
		Нормализация высоты элемента ссылки при его инспектировании в DevTools
	 */
a:where([class]) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/**
		Курсор-рука при наведении на элемент
	 */
button,
label {
  cursor: pointer;
}

/**
		Приводим к единому цвету svg-элементы
		(за исключением тех, у которых уже указан
		атрибут fill со значением 'none' или начинается с 'url')
	 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
		Приводим к единому цвету svg-элементы
		(за исключением тех, у которых уже указан
		атрибут stroke со значением 'none')
	 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
		Чиним баг задержки смены цвета при взаимодействии с svg-элементами
	 */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
		Приведение рамок таблиц в классический 'collapse' вид
	 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
		Удаляем все анимации и переходы для людей,
		которые предпочитают их не использовать
	 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
*,
*::before,
*::after,
ul,
p {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}

a {
  text-decoration: none;
}

img,
label {
  caret-color: transparent;
}

li {
  list-style: none;
}

input,
button,
textarea {
  font-family: inherit;
}

address {
  font-style: inherit;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  background-color: #ae1332;
  line-height: 1.28;
  color: #ffffff;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 32px;
}
@media (max-width: 767px) {
  .container {
    padding-inline: 20px;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

a,
button,
input {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

a {
  color: #ae1332;
}
@media (hover: hover) {
  a:hover {
    color: #9dc262;
  }
}

.hidden {
  display: none;
}

.header {
  background-color: #ffffff;
}
.header .container {
  padding-block: 11px 9.1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 767px) {
  .header .container {
    padding-block: 16px;
  }
}
.header__logo {
  position: relative;
  left: -7.3%;
}
@media (max-width: 1024px) {
  .header__logo {
    left: -9.3%;
  }
}
@media (max-width: 767px) {
  .header__logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    left: unset;
  }
}
.header__menu {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header .mobile-menu {
  display: none;
}
@media (max-width: 767px) {
  .header .mobile-menu {
    display: block;
  }
}

@media (max-width: 767px) {
  :is(.header__menu, .header__basket) {
    display: none;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.menu__list--header {
  gap: clamp(16px, 1.56vw, 20px);
}
.menu__list--mobile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu__link {
  letter-spacing: -0.04em;
}
.menu__link:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.menu.mobile-menu__box {
  color: #ffffff;
  margin: 0 0 16px;
}

#menu-switch[type=checkbox] {
  display: none;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span {
  background-color: transparent;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span::after, #menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 19px;
  top: 0;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__wrapper {
  visibility: visible;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.mobile-menu__burger {
  display: block;
  width: 20px;
  height: 14px;
  color: #ae1332;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
@media (hover: hover) {
  .mobile-menu__burger:hover {
    color: #9dc262;
  }
}
.mobile-menu__burger span {
  display: block;
  position: relative;
  top: 6px;
  left: 0px;
  border-radius: 30px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
}
.mobile-menu__burger span::after, .mobile-menu__burger span::before {
  content: "";
  position: absolute;
  left: 0;
  top: -6px;
  width: 10px;
  height: 2px;
  border-radius: inherit;
  background-color: currentColor;
}
.mobile-menu__burger span::after {
  top: 6px;
  width: 14px;
}

.mobile-menu__wrapper {
  position: absolute;
  right: 0;
  top: 50px;
  width: 100%;
  height: calc(100vh - 50px);
  padding: 124px 0 0;
  background-color: #ae1332;
  visibility: hidden;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.logo__link {
  color: #ae1332;
}
.logo__link:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.logo__image {
  width: 16px;
  aspect-ratio: 1;
  fill: currentColor;
  margin-right: 8px;
}
.logo__text {
  font-weight: 700;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
}

.basket {
  position: relative;
  width: 28px;
  aspect-ratio: 1;
  padding-top: 2.3px;
  color: #ae1332;
  background-color: unset;
}
.basket--mobile {
  margin-inline: auto;
  display: block;
}
@media (hover: hover) {
  .basket:hover {
    color: #9dc262;
  }
}
.basket:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
@media (max-width: 767px) {
  .basket {
    color: #ffffff;
    background-color: #ae1332;
  }
}
.basket__counter {
  font-size: 8px;
  text-align: center;
  font-weight: 700;
  color: #ae1332;
}
.basket__counter-box {
  position: absolute;
  right: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #9dc262;
}
.basket__image {
  fill: currentColor;
  width: 23.33px;
  aspect-ratio: 1;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
.socials__limk {
  fill: #ffffff;
}
@media (hover: hover) {
  .socials__limk:hover {
    fill: rgba(174, 19, 50, 0.1);
  }
}
.socials__image {
  width: 44px;
  height: 44px;
}
@media (max-width: 767px) {
  .socials__image {
    width: 40px;
    height: 40px;
  }
}

.footer {
  background-color: #ffffff;
}
.footer .container {
  padding-block: 80px;
  display: grid;
  grid-template: auto/minmax(335px, 349px) 1fr minmax(160px, 184px);
}
@media (max-width: 1024px) {
  .footer .container {
    grid-template: auto auto/minmax(335px, 349px) 1fr;
    grid-template-areas: "logo contacts" "menu contacts";
    padding-block: 80px 85px;
  }
}
@media (max-width: 767px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-block: 80px;
  }
}
.footer__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media (max-width: 1024px) {
  .footer__banner {
    grid-area: logo;
    margin: 0 0 74px;
  }
}
@media (max-width: 767px) {
  .footer__banner {
    margin: 0 0 20px;
  }
}
@media (max-width: 767px) {
  .footer__image {
    width: 335px;
    height: 172px;
  }
}
.footer__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1024px) {
  .footer__menu {
    grid-area: menu;
  }
}
@media (max-width: 767px) {
  .footer__menu {
    margin-block: 0 44px;
  }
}
@media (max-width: 1024px) {
  .footer__contacts {
    grid-area: contacts;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    position: relative;
    top: -6%;
  }
}
@media (max-width: 767px) {
  .footer__contacts {
    top: unset;
  }
}
.footer__socials {
  margin: 0 0 37px;
}
@media (max-width: 1024px) {
  .footer__socials {
    position: relative;
    left: -4%;
  }
}
@media (max-width: 767px) {
  .footer__socials {
    left: unset;
    margin: 0 0 40px;
  }
}
.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
}
.footer__address-link-link--tel {
  letter-spacing: 0;
}
.footer__address-link:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
@media (max-width: 767px) {
  .footer__address {
    text-align: center;
    font-size: 14px;
    line-height: 1.28;
    row-gap: 16px;
  }
}/*# sourceMappingURL=style.css.map */