@charset "UTF-8";
@import "fonts.css";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
		Убираем внутренние отступы слева тегам списков,
		у которых есть атрибут class
	 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
		Убираем внешние отступы body и двум другим тегам,
		у которых есть атрибут class
	 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
		Убираем внешние отступы вертикали нужным тегам,
		у которых есть атрибут class
	 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
		Убираем стандартный маркер маркированному списку,
		у которого есть атрибут class
	 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
		Обнуляем вертикальные внешние отступы параграфа,
		объявляем локальную переменную для внешнего отступа вниз,
		чтобы избежать взаимодействие с более сложным селектором
	 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
		Внешний отступ вниз для параграфа без атрибута class,
		который расположен не последним среди своих соседних элементов
	 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
		Упрощаем работу с изображениями и видео
	 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
		Наследуем свойства шрифт для полей ввода
	 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
  	Пригодится в большинстве ситуаций
  	(когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
  		Убираем скачок интерфейса по горизонтали
  		при появлении / исчезновении скроллбара
  // 	 */
}

/**
		Плавный скролл
	 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
  	Пригодится в большинстве ситуаций
  	(когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
  	Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
		Нормализация высоты элемента ссылки при его инспектировании в DevTools
	 */
a:where([class]) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/**
		Курсор-рука при наведении на элемент
	 */
button,
label {
  cursor: pointer;
}

/**
		Приводим к единому цвету svg-элементы
		(за исключением тех, у которых уже указан
		атрибут fill со значением 'none' или начинается с 'url')
	 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
		Приводим к единому цвету svg-элементы
		(за исключением тех, у которых уже указан
		атрибут stroke со значением 'none')
	 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
		Чиним баг задержки смены цвета при взаимодействии с svg-элементами
	 */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
		Приведение рамок таблиц в классический 'collapse' вид
	 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
		Удаляем все анимации и переходы для людей,
		которые предпочитают их не использовать
	 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
*,
*::before,
*::after,
ul,
p {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}

a {
  text-decoration: none;
}

img,
label {
  caret-color: transparent;
}

li {
  list-style: none;
}

input,
button,
textarea {
  font-family: inherit;
}

address {
  font-style: inherit;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  background-color: #ae1332;
  line-height: 1.28;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 32px;
}
@media (max-width: 767px) {
  .container {
    padding-inline: 20px;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.lock-body {
  overflow: hidden;
}

.hide-layer {
  position: relative;
  z-index: -1;
}

a,
button,
input {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

a {
  color: #ae1332;
}
@media (hover: hover) {
  a:hover {
    color: #9dc262;
  }
}

input {
  height: 48px;
  border-radius: 30px;
}

.hidden {
  display: none;
}

.iziModal-overlay {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.section-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  text-align: center;
  margin-inline: auto;
  letter-spacing: -0.04em;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .section-title {
    font-size: clamp(28px, 5.2vw, 40px);
    line-height: 1;
  }
}
.section-title.title-big {
  font-size: clamp(50px, 5vw, 64px);
  line-height: 1;
}
@media (max-width: 767px) {
  .section-title.title-big {
    font-size: clamp(28px, 5vw, 50px);
    line-height: 1.1;
  }
}

.title-description {
  margin-bottom: 44px;
  letter-spacing: -0.04em;
  margin-inline: auto;
  text-align: center;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
}

.button {
  letter-spacing: -0.04em;
  color: #ffffff;
  background-color: #9dc262;
  padding: 15px 35px;
  border-radius: 30px;
}
.button__image {
  width: 18px;
  aspect-ratio: 1;
  fill: white;
  margin: 0 0px -5px -5px;
}
@media (max-width: 767px) {
  .button__image {
    margin: 0 0px -3px -4px;
    width: 18px;
  }
}
@media (max-width: 767px) {
  .button {
    padding: 12px 24px;
  }
}
@media (hover: hover) {
  .button:hover {
    color: #9dc262;
    background-color: #ffffff;
  }
}
.button.round-button {
  padding: unset;
  max-width: 114px;
  aspect-ratio: 1;
  background-color: #ffffff;
  color: #ae1332;
  text-transform: uppercase;
  text-align: center;
  border-radius: 50%;
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-14deg);
          transform: rotate(-14deg);
}
.button.round-button span {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.button.round-button--green {
  font-size: 18px;
  width: 100%;
  line-height: 1.3;
  background-color: #9dc262;
  color: #ffffff;
}
@media (hover: hover) {
  .button.round-button--green:hover {
    background-color: #ffffff;
    color: #9dc262;
  }
  .button.round-button--green:hover .button__image {
    fill: #9dc262;
  }
}
.button.round-button--green:active {
  -webkit-transform: scale(0.98) rotate(-14deg);
          transform: scale(0.98) rotate(-14deg);
}
@media (max-width: 767px) {
  .button.round-button {
    max-width: 80px;
    font-size: 20px;
  }
  .button.round-button--green {
    font-size: 14px;
  }
}

.close-button {
  width: 14px;
  aspect-ratio: 1;
  color: #ffffff;
  background-color: transparent;
}
.close-button--color {
  color: #ae1332;
}
.close-button__element {
  position: relative;
  top: 1px;
  left: -2px;
  width: 23.5px;
  height: 2px;
  border-radius: 30px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.close-button__element--second {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -1px;
}
@media (max-width: 767px) {
  .close-button__element {
    width: 20px;
  }
}
@media (hover: hover) {
  .close-button:hover {
    color: #9dc262;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.menu__list--header {
  gap: clamp(16px, 1.56vw, 20px);
}
.menu__list--mobile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu__link {
  letter-spacing: -0.04em;
}
.menu__link:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.menu.mobile-menu__box {
  color: #ffffff;
  margin: 0 0 16px;
}
.menu.mobile-menu__box .menu__link {
  color: #ffffff;
}
@media (hover: hover) {
  .menu.mobile-menu__box .menu__link:hover {
    color: #9dc262;
  }
}

.logo__link {
  color: #ae1332;
}
.logo__link:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.logo__image {
  width: 16px;
  aspect-ratio: 1;
  fill: currentColor;
  margin-right: 8px;
}
.logo__text {
  font-weight: 700;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
}

.basket {
  position: relative;
  width: 28px;
  aspect-ratio: 1;
  padding-top: 2.3px;
  color: #ae1332;
  background-color: unset;
}
.basket--mobile {
  margin-inline: auto;
  display: block;
}
@media (hover: hover) {
  .basket:hover {
    color: #9dc262;
  }
}
.basket:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
@media (max-width: 767px) {
  .basket {
    color: #ffffff;
    background-color: #ae1332;
  }
}
.basket__counter {
  font-size: 8px;
  text-align: center;
  font-weight: 700;
  color: #ae1332;
}
.basket__counter-box {
  position: absolute;
  right: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #9dc262;
}
.basket__image {
  fill: currentColor;
  width: 23.33px;
  aspect-ratio: 1;
}

.mobile-menu {
  z-index: 4;
  display: none;
}
@media (max-width: 767px) {
  .mobile-menu {
    display: block;
  }
}

#menu-switch[type=checkbox] {
  display: none;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span {
  background-color: transparent;
  -webkit-transition: all 0.3s ease s;
  transition: all 0.3s ease s;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span::after, #menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 18px;
  top: 0;
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__burger span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#menu-switch[type=checkbox]:checked ~ .mobile-menu__wrapper {
  visibility: visible;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.mobile-menu__burger {
  display: block;
  width: 20px;
  height: 14px;
  color: #ae1332;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
@media (hover: hover) {
  .mobile-menu__burger:hover {
    color: #9dc262;
  }
}
.mobile-menu__burger span {
  display: block;
  position: relative;
  top: 6px;
  left: 0px;
  border-radius: 30px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
}
.mobile-menu__burger span::after, .mobile-menu__burger span::before {
  content: "";
  position: absolute;
  left: 0;
  top: -6px;
  width: 10px;
  height: 2px;
  border-radius: inherit;
  background-color: currentColor;
}
.mobile-menu__burger span::after {
  top: 6px;
  width: 14px;
}

.mobile-menu__wrapper {
  position: absolute;
  right: 0;
  top: 50px;
  width: 100%;
  height: calc(100vh - 50px);
  padding: 124px 0 0;
  background-color: #ae1332;
  visibility: hidden;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.header {
  background-color: #ffffff;
}
.header .container {
  padding-block: 11px 9.1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 767px) {
  .header .container {
    padding-block: 16px;
  }
}
.header__logo {
  position: relative;
  left: -7.3%;
}
@media (max-width: 1024px) {
  .header__logo {
    left: -9.3%;
  }
}
@media (max-width: 767px) {
  .header__logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    left: unset;
  }
}
.header__menu {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 767px) {
  :is(.header__menu, .header__basket) {
    display: none;
  }
}
.badge {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  color: #ae1332;
  background: #ffffff;
  padding: 21px 12px;
  border-radius: 30px;
  display: inline-block;
  font-weight: 500;
  letter-spacing: -0.04em;
}
.badge span:first-child {
  text-transform: uppercase;
}
.badge--transparent {
  background: transparent;
  color: #ffffff;
  border: 1px solid currentColor;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  padding: 12px 32px;
}

@media (max-width: 767px) {
  .badges-group {
    width: 100%;
  }
}
.badges-group__list {
  max-width: 277px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 10px 8px;
}
@media (max-width: 767px) {
  .badges-group__list {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767px) {
  .badges-group__item {
    -ms-flex-preferred-size: 125px;
        flex-basis: 125px;
  }
  .badges-group__item:nth-child(even) {
    -ms-flex-preferred-size: 132px;
        flex-basis: 132px;
  }
}

.product-preview-card {
  max-width: 249px;
  width: 100%;
  min-height: 387px;
  border-radius: 500px;
  background-color: #a4cb66;
  padding-block: 28px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
}
.product-preview-card--color {
  background-color: #f5ce13;
}
.product-preview-card__title {
  font-size: inherit;
  font-weight: 400;
}
.product-preview-card__image {
  margin-block: 0 -18px;
}
.product-preview-card__image--position {
  position: relative;
  top: 28px;
}
.product-preview-card__text {
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  max-width: 164px;
  line-height: 1.17;
}
.product-preview-card__text--padding {
  padding-inline: 10px;
}

.promo {
  position: relative;
  --blockPaddingX: 62px;
  --blockWidth: 1156px;
  max-width: calc(var(--blockWidth) + var(--blockPaddingX) * 2);
  margin-inline: auto;
  padding-inline: var(--blockPaddingX);
}
@media (max-width: 1280px) {
  .promo {
    --blockPaddingX: 32px;
  }
}
@media (max-width: 767px) {
  .promo {
    --blockPaddingX: 20px;
  }
}
.promo::before, .promo::after {
  content: "";
  position: absolute;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  z-index: 2;
}
.promo::before {
  top: 218px;
  left: 213px;
  width: 212px;
  height: 124px;
  background-image: url(../../images/promo/bananas.webp);
  background-image: -webkit-image-set(url("../../images/promo/bananas.webp") 1x, url("../../images/promo/bananas@2x.webp") 2x);
  background-image: image-set("../../images/promo/bananas.webp" 1x, "../../images/promo/bananas@2x.webp" 2x);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (max-width: 1280px) {
  .promo::before {
    top: 177px;
    left: unset;
    right: 76.8vw;
    width: 151px;
    height: 111px;
  }
}
@media (max-width: 767px) {
  .promo::before {
    top: 119px;
    width: 77px;
    height: 60px;
    right: 75.8vw;
  }
}
.promo::after {
  top: 39px;
  right: 223px;
  width: 120px;
  aspect-ratio: 1;
  background-image: url(../../images/promo/strawberries-small.webp);
  background-image: -webkit-image-set(url("../../images/promo/strawberries-small.webp") 1x, url("../../images/promo/strawberries-small@2x.webp") 2x);
  background-image: image-set("../../images/promo/strawberries-small.webp" 1x, "../../images/promo/strawberries-small@2x.webp" 2x);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (max-width: 1280px) {
  .promo::after {
    top: 56px;
    right: unset;
    left: 81vw;
    width: 108px;
  }
}
@media (max-width: 767px) {
  .promo::after {
    top: 56px;
    width: 56px;
    left: 80vw;
  }
}
.promo__body {
  padding-block: 106px 150px;
  min-height: 1097px;
  display: grid;
  grid-template: auto/minmax(249px, auto) 1fr minmax(266px, auto);
  gap: 44px;
}
@media (max-width: 1280px) {
  .promo__body {
    grid-template: repeat(2, auto)/1fr 1fr;
    gap: 44px 142px;
    grid-template-areas: "banner banner" "left-block right-block";
    padding-block: 105px 139px;
  }
}
@media (max-width: 767px) {
  .promo__body {
    grid-template: repeat(3, auto)/1fr;
    grid-template-areas: "banner" "left-block" "right-block";
    gap: 44px 142px;
    padding-block: 103px 80px;
  }
}
.promo__title {
  position: absolute;
  z-index: 3;
  top: 6%;
  padding: 0 0 0 27px;
  line-height: 1.04 !important;
}
@media (max-width: 1280px) {
  .promo__title {
    line-height: 1.15 !important;
    top: 4%;
    padding: unset;
  }
}
@media (max-width: 767px) {
  .promo__title {
    top: 3%;
  }
  .promo__title br:nth-child(2) {
    display: none;
  }
}
.promo__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  row-gap: 44px;
}
@media (max-width: 1280px) {
  .promo__block {
    grid-area: left-block;
    max-width: 281px;
    width: 100%;
    justify-self: end;
  }
}
@media (max-width: 767px) {
  .promo__block {
    justify-self: center;
    max-width: 100%;
  }
}
.promo__block--position {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-block: 231px 0;
}
@media (max-width: 1280px) {
  .promo__block--position {
    grid-area: right-block;
    padding-block: unset;
    justify-self: start;
  }
}
@media (max-width: 767px) {
  .promo__block--position {
    justify-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.promo__text {
  max-width: 222px;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1280px) {
  .promo__text {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .promo__text {
    padding-inline: 27px;
  }
}
@media (max-width: 1280px) {
  .promo__block-card {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .promo__block-card--position {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
@media (max-width: 767px) {
  .promo__block-card {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .promo__block-card--position {
    -ms-flex-item-align: center;
        align-self: center;
  }
}

.promo__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1280px) {
  .promo__banner {
    grid-area: banner;
  }
}
.promo__banner-image {
  border-radius: inherit;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .promo__banner-image {
    width: 311px;
    height: 484px;
    -o-object-position: 20% 20%;
       object-position: 20% 20%;
    -o-object-fit: 120;
       object-fit: 120;
  }
}
.promo__banner-image-wrapper {
  position: relative;
  padding: 17px;
  left: 13px;
  border-radius: 239px;
  max-width: 486px;
  width: 100%;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(41%, rgba(255, 255, 255, 0.44)), to(rgb(255, 255, 255)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.44) 41%, rgb(255, 255, 255) 100%);
}
.promo__banner-image-wrapper::before {
  content: "";
  position: absolute;
  display: block;
  top: -1px;
  left: 1px;
  width: calc(100% - 2px);
  height: 100%;
  max-height: 742px;
  background-color: #ae1332;
  border-radius: inherit;
}
@media (max-width: 1280px) {
  .promo__banner-image-wrapper {
    left: unset;
  }
}
@media (max-width: 767px) {
  .promo__banner-image-wrapper {
    max-width: 339px;
    padding: 14px;
  }
}
.promo__banner-button {
  margin-block: -97px 0;
  position: relative;
  left: 12px;
  z-index: 2;
}
@media (max-width: 1280px) {
  .promo__banner-button {
    left: unset;
  }
}
@media (max-width: 767px) {
  .promo__banner-button {
    margin-block: -54px 0;
  }
}

.steps__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
@media (max-width: 1280px) {
  .steps__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767px) {
  .steps__list {
    gap: 20px;
  }
}
.steps__item {
  max-width: 389px;
  min-height: 128px;
  padding: 40px 20px;
  background-color: #ffffff;
  border-radius: 20px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
.steps__item:first-child {
  padding: 37px 20px;
}
@media (max-width: 767px) {
  .steps__item {
    padding: 20px;
    min-height: 112px;
  }
  .steps__item:first-child {
    padding: 20px;
  }
}
.steps__button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: inline-block;
  max-width: 136px;
  width: 100%;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  padding: 12px 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.steps__button span {
  text-shadow: inherit;
}
.steps__button--color-red {
  background-color: #ae1332;
}
@media (hover: hover) {
  .steps__button--color-red:hover {
    background-color: #9dc262;
  }
}
@media (hover: hover) {
  .steps__button:hover {
    color: #ffffff;
  }
  .steps__button:hover:not(.steps__button--color-red) {
    background-color: #ae1332;
  }
}
.steps__button:active {
  color: #000000;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
.steps__button--color-yellow {
  background-color: #f5ce13;
  pointer-events: none;
}
.steps__text {
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
}

.how-it-works {
  padding-block: 0 150px;
}
@media (max-width: 1280px) {
  .how-it-works {
    padding-block: 0 144px;
  }
}
@media (max-width: 767px) {
  .how-it-works {
    padding-block: 0 80px;
  }
}
.how-it-works__title {
  max-width: 624px;
}
.how-it-works__title-description {
  max-width: 510px;
}
.how-it-works__text {
  letter-spacing: -0.04em;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
}
.how-it-works__steps {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .how-it-works__steps {
    margin-bottom: 44px;
  }
}
.how-it-works__image {
  margin-inline: auto;
  border-radius: 20px;
  height: 474px;
  -o-object-fit: cover;
     object-fit: cover;
}

.quick-order {
  padding-block: 0 144px;
}
@media (max-width: 767px) {
  .quick-order {
    padding-block: 0 80px;
  }
}
.quick-order__title {
  position: relative;
  margin-block: 0 -31px;
  margin-inline: auto;
  max-width: 740px;
}
@media (max-width: 767px) {
  .quick-order__title {
    margin-block: 0 -43px;
    padding-inline: 30px;
    font-size: 32px !important;
    line-height: 1 !important;
  }
}
.quick-order__image-box {
  display: grid;
  grid-template: clamp(476px, 39vw, 502px)/1fr clamp(340px, 31vw, 400px);
  gap: clamp(16px, 1.9vw, 24px);
  margin: 0 0 86px;
}
@media (max-width: 767px) {
  .quick-order__image-box {
    display: block;
    margin: unset;
  }
}
.quick-order__image {
  height: clamp(480px, 39vw, 502px);
  border-radius: 40px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .quick-order__image {
    height: 476px;
  }
  .quick-order__image--display {
    display: none;
  }
}
@media (max-width: 575px) {
  .quick-order__image {
    border-radius: 21px;
  }
}
.quick-order__text {
  max-width: 492px;
  margin: 0 auto 80px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-align: center;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .quick-order__text {
    display: none;
  }
}
.quick-order__form {
  position: relative;
  max-width: 298px;
  margin-inline: auto;
}
@media (max-width: 767px) {
  .quick-order__form {
    display: none;
  }
}
.quick-order__input {
  width: 100%;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
  border: 1px solid currentColor;
  padding: 15px 126px 15px 24px;
  letter-spacing: -0.04em;
}
.quick-order__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.quick-order__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.quick-order__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.quick-order__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.quick-order__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.quick-order__input:focus {
  background-color: #ffffff;
  color: #000000;
  outline: none;
}
.quick-order__button {
  position: absolute;
  right: 0;
  top: 0;
}
.quick-order__button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.product-card {
  letter-spacing: -0.04em;
  line-height: 1.3;
  padding: 64px 24px 24px;
  border-radius: 20px;
  min-height: 465px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 5.8px;
}
.product-card__name {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -0.04em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
@media (max-width: 767px) {
  .product-card__name {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 6px;
  }
}
.product-card__type {
  font-size: 18px;
  letter-spacing: -0.02em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
@media (max-width: 767px) {
  .product-card__type {
    font-size: 14px;
    line-height: 1.29;
  }
}
.product-card__image-wrapper {
  margin-inline: 22px auto;
  justify-self: center;
  position: relative;
}
.product-card__image-wrapper::before {
  content: "";
  position: absolute;
  display: block;
  width: 262px;
  height: 125px;
  left: 27%;
  translate: -27% 0;
  bottom: -64px;
  background: url(../../images/products/product-shadow.webp) no-repeat center/contain;
}
@media (max-width: 1280px) {
  .product-card__image-wrapper {
    margin-inline: unset;
  }
}
@media (max-width: 767px) {
  .product-card__image-wrapper {
    margin-bottom: 21px;
  }
}
.product-card__price {
  position: relative;
  padding: 12px 21px;
  min-width: 136px;
  font-weight: 700;
  font-size: 18px;
  color: #ae1332;
  background-color: #ffffff;
  pointer-events: none;
}
@media (max-width: 767px) {
  .product-card__price {
    min-width: 121px;
    font-size: 14px;
    line-height: 1.28;
    padding: 12px 24px;
  }
}

.products {
  padding-block: 0 150px;
}
@media (max-width: 1280px) {
  .products {
    padding-block: 0 144px;
  }
}
@media (max-width: 767px) {
  .products {
    padding-block: 0 80px;
  }
}
@media (max-width: 1280px) {
  .products__title.section-title {
    line-height: 1;
  }
}
.products__title-description {
  max-width: 547px;
  margin-bottom: 44px;
}
.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: clamp(14px, 1.87vw, 24px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 44px;
}
.products__item {
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  max-width: 389px;
  width: 100%;
  border-radius: 30px;
}
@media (hover: hover) {
  .products__item:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-box-shadow: 0px 7px 30px 4px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 7px 30px 4px rgba(34, 60, 80, 0.2);
  }
}
.products__item:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
@media (max-width: 1280px) {
  .products__item {
    max-width: 344px;
  }
}
@media (max-width: 1140px) {
  .products__item:last-child {
    display: none;
  }
}
@media (max-width: 767px) {
  .products__item {
    max-width: 335px;
  }
  .products__item:nth-last-child(-n+3) {
    display: none;
  }
}
.products__button {
  margin-inline: auto;
}
.products__button.round-button {
  display: block;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.menu__list--header {
  gap: clamp(16px, 1.56vw, 20px);
}
.menu__list--mobile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu__link {
  letter-spacing: -0.04em;
}
.menu__link:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.menu.mobile-menu__box {
  color: #ffffff;
  margin: 0 0 16px;
}
.menu.mobile-menu__box .menu__link {
  color: #ffffff;
}
@media (hover: hover) {
  .menu.mobile-menu__box .menu__link:hover {
    color: #9dc262;
  }
}

.logo__link {
  color: #ae1332;
}
.logo__link:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.logo__image {
  width: 16px;
  aspect-ratio: 1;
  fill: currentColor;
  margin-right: 8px;
}
.logo__text {
  font-weight: 700;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
.socials__limk {
  fill: #ffffff;
}
@media (hover: hover) {
  .socials__limk:hover {
    fill: rgba(174, 19, 50, 0.1);
  }
}
.socials__image {
  width: 44px;
  height: 44px;
}
@media (max-width: 767px) {
  .socials__image {
    width: 40px;
    height: 40px;
  }
}

.footer {
  background-color: #ffffff;
}
.footer .container {
  padding-block: 80px;
  display: grid;
  grid-template: auto/minmax(335px, 349px) 1fr minmax(160px, 184px);
}
@media (max-width: 1024px) {
  .footer .container {
    grid-template: auto auto/minmax(335px, 349px) 1fr;
    grid-template-areas: "logo contacts" "menu contacts";
    padding-block: 80px 85px;
  }
}
@media (max-width: 767px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-block: 80px;
  }
}
.footer__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media (max-width: 1024px) {
  .footer__banner {
    grid-area: logo;
    margin: 0 0 74px;
  }
}
@media (max-width: 767px) {
  .footer__banner {
    margin: 0 0 20px;
  }
}
@media (max-width: 767px) {
  .footer__image {
    width: 335px;
    height: 172px;
  }
}
.footer__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1024px) {
  .footer__menu {
    grid-area: menu;
  }
}
@media (max-width: 767px) {
  .footer__menu {
    margin-block: 0 44px;
  }
}
@media (max-width: 1024px) {
  .footer__contacts {
    grid-area: contacts;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    position: relative;
    top: -6%;
  }
}
@media (max-width: 767px) {
  .footer__contacts {
    top: unset;
  }
}
.footer__socials {
  margin: 0 0 37px;
}
@media (max-width: 1024px) {
  .footer__socials {
    position: relative;
    left: -4%;
  }
}
@media (max-width: 767px) {
  .footer__socials {
    left: unset;
    margin: 0 0 40px;
  }
}
.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
}
.footer__address-link-link--tel {
  letter-spacing: 0;
}
.footer__address-link:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
@media (max-width: 767px) {
  .footer__address {
    text-align: center;
    font-size: 14px;
    line-height: 1.28;
    row-gap: 16px;
  }
}

.popup-thanks {
  padding-block: 68px 79px;
  background: #e03f5e;
  height: auto !important;
  overflow-y: auto;
  max-height: 545px;
  width: auto !important;
  border-radius: 20px !important;
  color: #ffffff;
}
.popup-thanks.hasShadow::after {
  display: none;
}
@media (max-width: 767px) {
  .popup-thanks {
    padding-block: 56px 40px;
    max-height: 426px;
  }
}
@media (max-width: 640px) {
  .popup-thanks {
    margin-inline: 20px;
  }
}
.popup-thanks .iziModal-wrap {
  height: auto !important;
  overflow-y: auto;
  position: static;
}
.popup-thanks .iziModal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup-thanks__image {
  margin-inline: auto;
  margin-block: 0 28px;
}
@media (max-width: 767px) {
  .popup-thanks__image {
    width: 170px;
    height: 146px;
    margin-block: 0 33px;
  }
}
.popup-thanks__text {
  text-align: center;
  max-width: 391px;
  margin-inline: 20px;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
}
.popup-thanks .popup-thanks__button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 27px;
}
@media (max-width: 767px) {
  .popup-thanks .popup-thanks__button {
    margin: 26px;
  }
}

.cart-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 308px;
  min-width: 811px;
  gap: 20px;
}
@media (max-width: 1280px) {
  .cart-list {
    gap: 12px;
    min-height: 250px;
  }
}
@media (max-width: 767px) {
  .cart-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 119px;
    min-width: unset;
  }
}
.cart-list__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  max-width: 257px;
  width: 100%;
  min-height: 308px;
  padding: 14px 14px 14px 20px;
  background-color: #f8766b;
  color: #ffffff;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .cart-list__item {
    max-width: 200px;
    min-height: 250px;
  }
}
@media (max-width: 767px) {
  .cart-list__item {
    max-width: 100%;
    min-height: 119px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 14px 14px 8px 20px;
  }
}

.user-purchase__choice {
  position: relative;
  color: #ffffff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1.5px solid currentColor;
  border-radius: 4px;
  background-color: transparent;
  display: block;
  margin-inline: auto 0;
  width: 20px;
  height: 20px;
  margin-bottom: 6px;
  cursor: pointer;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.user-purchase__choice:checked::before {
  content: "✓";
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -65%);
          transform: translate(-50%, -65%);
  font-size: 0.7em;
  color: currentColor;
  font-weight: bold;
}
@media (max-width: 767px) {
  .user-purchase__choice {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 16px;
    height: 16px;
  }
}
.user-purchase__header {
  margin-bottom: 4px;
}
.user-purchase__name {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.04em;
}
@media (max-width: 1280px) {
  .user-purchase__name {
    margin-bottom: 2px;
    font-size: 18px;
    line-height: 1.3;
  }
}
@media (max-width: 767px) {
  .user-purchase__name {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
.user-purchase__type {
  letter-spacing: -0.02em;
}
.user-purchase__image {
  margin-inline: auto;
}
@media (max-width: 1280px) {
  .user-purchase__image {
    width: 172px;
    height: 148px;
  }
}
@media (max-width: 767px) {
  .user-purchase__image {
    width: 106px;
    height: 95px;
  }
  .user-purchase__image:not([alt="Strawberry Basket"]) {
    margin-inline: 30px 0;
  }
}

.user-order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.user-order-form__input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  padding-inline: 24px;
  margin-bottom: 14px;
}
.user-order-form__input--message {
  border-radius: 20px;
  margin-bottom: 20px;
  min-height: 145px;
  padding-block: 15px;
  resize: none;
}
.user-order-form__input--message::spelling-error {
  -webkit-text-decoration: solid #ae1332 underline;
          text-decoration: solid #ae1332 underline;
}
@media (max-width: 767px) {
  .user-order-form__input--message {
    min-height: 132px;
  }
}
@media (max-width: 767px) {
  .user-order-form__input {
    height: 46px;
  }
}
.user-order-form__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: -0.04em;
}
.user-order-form__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: -0.04em;
}
.user-order-form__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: -0.04em;
}
.user-order-form__input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: -0.04em;
}
.user-order-form__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: -0.04em;
}

.user-order {
  overflow: hidden;
  border-radius: 20px !important;
  height: auto !important;
  overflow-y: auto;
  max-height: 911px;
}
.user-order.hasShadow::after {
  display: none;
}
@media (max-width: 1280px) {
  .user-order {
    max-height: 853px !important;
  }
}
@media (max-width: 767px) {
  .user-order {
    max-height: 903px !important;
  }
}
.user-order .iziModal-wrap {
  height: 911px !important;
}
@media (max-width: 1280px) {
  .user-order .iziModal-wrap {
    height: 853px !important;
  }
}
@media (max-width: 767px) {
  .user-order .iziModal-wrap {
    height: unset;
    min-height: 903px !important;
  }
}
.user-order .iziModal-content {
  position: relative;
  min-height: 911px;
  color: #ae1332;
  width: 891px;
  padding: 40px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1280px) {
  .user-order .iziModal-content {
    min-height: 853px !important;
    width: 704px;
  }
}
@media (max-width: 767px) {
  .user-order .iziModal-content {
    padding: 20px !important;
    min-height: 903px !important;
    width: 335px;
  }
}
.user-order__title {
  text-align: start;
  margin: 0 auto 40px 0;
}
@media (max-width: 1280px) {
  .user-order__title {
    font-size: 28px;
  }
}
.user-order__cart-list {
  margin-bottom: 40px;
}
.user-order__form {
  max-width: 360px;
  width: 100%;
}
@media (max-width: 767px) {
  .user-order__form {
    max-width: 295px;
  }
}
.user-order__image {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 1280px) {
  .user-order__image {
    width: 469px;
    height: 467px;
    right: -175px;
  }
}
@media (max-width: 767px) {
  .user-order__image {
    display: none;
  }
}
.user-order__button-close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 27px 30px 0 0;
}/*# sourceMappingURL=style.css.map */