.badges-group {
  @media (max-width: 767px) {
    width: 100%;
  }
  &__list {
    max-width: 271px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 8px;
    @media (max-width: 767px) {
      max-width: 100%;
      justify-content: center;
    }
  }
  &__item {
    @media (max-width: 767px) {
      flex-basis: 125px;
      &:nth-child(even) {
        flex-basis: 132px;
      }
    }
  }
}
