@import "./_steps.scss";

.how-it-works {
  padding-block: $section-padding-block;
  @media (max-width: 1280px) {
    padding-block: $section-padding-block-tablet;
  }
  @media (max-width: 767px) {
    padding-block: $section-padding-block-mobile;
  }
  &__title {
    max-width: 624px;
  }

  &__title-description {
    max-width: 510px;
  }

  &__text {
    letter-spacing: $letter-spacing;
    text-shadow: $text-shadow;
  }
  &__steps {
    margin-bottom: 80px;
    @media (max-width: 767px) {
      margin-bottom: 44px;
    }
  }

  &__image {
    margin-inline: auto;
    border-radius: $border-radius-small;
    height: 474px;
    object-fit: cover;
  }
}
