.menu {
  &__list {
    @include flexCenter;
    gap: 20px;
    &--header {
      gap: clamp(16px, 1.56vw, 20px);
    }
    &--mobile {
      flex-direction: column;
    }
  }
  &__link {
    letter-spacing: $letter-spacing;
    @include active {
      transform: scale(0.95);
    }
  }
  &.mobile-menu__box {
    color: $color-light;
    margin: 0 0 16px;
    .menu__link {
      color: $color-light;
      @include hover {
        color: $color-accent-green;
      }
    }
  }
}
