body {
  font-family: $font-family;
  font-size: 14px;
  background-color: $color-accent-red;
  line-height: 1.28;
  letter-spacing: -0.04em;
  color: $color-light;
}
.container {
  max-width: calc($container-width + $container-padding-x * 2);
  margin-inline: auto;
  padding-inline: $container-padding-x;
  @media (max-width: 767px) {
    padding-inline: $container-padding-x-mobile;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}
a,
button,
input {
  transition-duration: $transition-duration;
}
a {
  color: $color-accent-red;
  @include hover {
    color: $color-accent-green;
  }
}
input {
  height: $input-height;
  border-radius: $border-radius;
}
.hidden {
  display: none;
}
.badge {
  @include button(
    $font-family,
    18px,
    1.3,
    $color-accent-red,
    $color-light,
    21px 12px,
    30px
  );
  display: inline-block;
  font-weight: 500;
  letter-spacing: -0.04em;
  span:first-child {
    text-transform: uppercase;
  }
  &--transparent {
    background: transparent;
    color: $color-light;
    border: 1px solid currentColor;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    text-shadow: $text-shadow;
    padding: 12px 32px;
  }
}
.section-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  text-shadow: $text-shadow;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.04em;
  @media (max-width: 767px) {
    font-size: clamp(28px, 5.2vw, 40px);
    line-height: 1;
  }
  &.title-big {
    font-size: clamp(50px, 5vw, 64px);
    line-height: 1.04;
    @media (max-width: 1280px) {
      line-height: 1.15;
    }
    @media (max-width: 767px) {
      font-size: clamp(28px, 5vw, 50px);
      line-height: 1.1;
    }
  }
}
.button {
  letter-spacing: $letter-spacing;
  color: $color-light;
  background-color: $color-accent-green;
  padding: 15px 35px;
  border-radius: $border-radius;
  @include hover {
    color: $color-accent-green;
    background-color: $color-light;
  }
  &.round-button {
    padding: unset;
    max-width: 114px;
    aspect-ratio: 1;
    background-color: $color-light;
    color: $color-accent-red;
    text-transform: uppercase;
    text-align: center;
    border-radius: 50%;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    transform: rotate(-14deg);
    text-shadow: $text-shadow;
    @media (max-width: 767px) {
      max-width: 80px;
      font-size: 20px;
    }
  }
}
.lock-body {
  overflow: hidden;
}
.hide-layer {
  position: relative;
  z-index: -1;
}
