// global variables
// colors
$color-dark: #000000;
$color-light: #ffffff;
$color-accent-red: #ae1332;
$color-accent-green: #9dc262;
$color-accent-yelloy: #f5ce13;

$text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0.44+41,1+100 */

// border
$border: 1px solid $color-light;
$border-radius: 30px;
// fonts
$font-family: "DM Sans", sans-serif;
// container propertues
$container-width: 1216px;
$container-padding-x: 32px;
$container-padding-x-mobile: 20px;

// blocks and elemtnts properties variables
$input-height: 54px;
// paths
// $image-path: "../../images";

$transition-duration: 0.3s;
