// global variables
// colors
$color-dark: #000000;
$color-light: #ffffff;
$color-accent-red: #ae1332;
$color-accent-green: #9dc262;
$color-accent-yellow: #f5ce13;

$text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
$text-shadow-accent: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
  1px 1px 0 #000;
$letter-spacing: -0.04em;
// border
$border: 1px solid $color-light;
$border-radius: 30px;
$border-radius-small: 20px;
// fonts
$font-family: "DM Sans", sans-serif;
// container propertues
$container-width: 1216px;
$container-padding-x: 32px;
$container-padding-x-mobile: 20px;
$section-padding-block: 0 150px;
$section-padding-block-tablet: 0 144px;
$section-padding-block-mobile: 0 80px;

// blocks and elemtnts properties variables
$input-height: 48px;
// paths
// $image-path: "../../images";

$transition-duration: 0.3s;
